.pageDescription {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #666666;
  margin: 0 0 32px 0;

  @media (max-width: 768px) {
    font-size: 15px;
    margin: 0 0 24px 0;
  }

  @media (max-width: 480px) {
    font-size: 14px;
    margin: 0 0 20px 0;
  }
}
