.container {
  width: 100%;
}

.connectionsRow {
  width: 100%;
  display: flex;
  margin-bottom: 0;
}

.connectionsCard {
  width: 50%;
  max-width: 50%;
  box-sizing: border-box;
  vertical-align: top;
  min-width: 0;
}

.connectionsCard:first-child {
  padding-right: 28px;
}

.connectionsCard:last-child {
  padding-left: 28px;
}

/* When only one card, it should take 50% with gap preserved */
.connectionsCard:only-child {
  padding-right: 28px;
  padding-left: 0;
}

.peakAverageRow {
  width: 100%;
  display: flex;
  margin-bottom: 0;
}

.peakCard {
  width: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding-right: 28px;
  vertical-align: top;
  min-width: 0;
}

.averageCard {
  width: 50%;
  max-width: 50%;
  box-sizing: border-box;
  padding-left: 28px;
  vertical-align: top;
  min-width: 0;
}

/* Responsive: stack everything vertically on smaller screens */
@media (max-width: 1160px) {
  .connectionsRow,
  .peakAverageRow {
    flex-direction: column;
  }

  .connectionsCard,
  .peakCard,
  .averageCard {
    width: 100% !important;
    max-width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
